# ENV files
.env

# Python venv
youtube-dl-manager/

# Python caches
.cache
.pytest_cache
__pycache__

# Coverage files
.coverage

# VSCode files
.vscode

# Intellij Files
.idea
youtube-dl-manager.iml

# DB Files
test.db
youtube-dl.db
download-manager.db

# NodeJS Files
node_modules
bundle.js
*.eot
*.svg
*.ttf
