[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
black = "==18.9b0"
v = {editable = true,version = "*"}
pylint = "*"

[packages]
Flask = "*"
youtube_dl = "*"
Flask-SQLAlchemy = "*"
flask-compress = "*"
gallery-dl = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.6"
