.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 91vh;
}
.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}
[data-theme="dark"] .site-layout-content {
    background: #141414;
}
[data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
}

.spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%; /* or: left: 50%; */
    /*margin-top: -..px; !* have of the elements height *!*/
    /*margin-right: -..px; !* have of the elements widht *!*/
}

.downloadList {
    padding-bottom: 25px;
}
